@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Folder Controller!</h1>
    <p>To preview folders structure open "Folder" tab</p>
     <p>To download folders open "Export folders" tab</p>
    <p>To import your own folders open "Import folders" tab</p>
</div>
